/.ipynb_checkpoints
/anaconda_projects
/Untitled.ipynb
/Week1 resources.zip
/Week1/.ipynb_checkpoints/*
/Week2/.ipynb_checkpoints/*
/Week2/data/.ipynb_checkpoints/*
/.gitignore
/Week2 resources.zip
/RandomGenData_NormalDistributed.ipynb
/Week3/data/.ipynb_checkpoints/*
/Week3/.ipynb_checkpoints/*
/project/.ipynb_checkpoints/*
/Week4/.ipynb_checkpoints/*